// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "font-awesome";


.header{
	background-image:url("海　沖縄.jpg");
	background-size:cover;
	height:500px;
	width:950px;
	margin: 0 auto;
	padding:200px 0px 100px 400px;
	text-align:center;

}
.header-left{
  float: left;
  padding: 10px 60px;
  color: #87CEEB;
  
  font-style: italic;

}

.main{
	width:1400px;
	height:800px;
	background-color:#000000;
}

.sidebar{
  
  height:700px;
  width:200px;
  clear:left;
  padding:50px 20px;
  font-size:18px;
}
.pictures img{
	width:200px;
	height:200px;
	float:left;
	padding:5px 5px;

    
}
.pictures{

}
.menu li{
	margin-bottom:10px;
	padding:5px;
	border-top: 3px solid #DDD;
    border-left: 3px solid #DDD;
    border-right: 3px solid #BBB;
    border-bottom: 3px solid #BBB;
    width: 120px;
	color: #4169E1;
	list-style: none;
	float:left;
	clear:left;
	border-radius:5px;
	

}
.introduce{
	float:left;
	color:#00FFFF;
	list-style: none;
}

.snsmenus{
	width:200px;
	height:200px;
	background-color:#000000;

}
.html{
	background-color:#000000;
}


.contents{
	padding:10px;
}

.footer{
	height:600px;
	padding-bottom:100px;
	clear:left;
}

.heading{
	color:white;
	clear:left;
	padding-top:100px;
	padding-bottom:40px;
	
}
.heading h2{
	font-weight:bold;
	text-align:center;
}

.purpose-icon{
	float:left;
	width:20%;
}

.info-title{
	color:white;
	border-bottom:3px solid #4169E1;
	margin-left:20px;
	margin-bottom:10px;
}

.info-explan{
	color:white;
	margin:10px;
	padding:5px 20px;
	
}
.tag-text{
	color:#1E90FF;
	font-size:30px;
}

